body, html {
    background-color: white !important;
    height: 100% !important;
    min-height: initial !important;
    margin: 0;
}

html {
    height: 100% !important;
}

body > .header .navbar {
    margin-left: 0 !important;
}

body > .header .logo {
    float: none !important;
    text-align: center !important;
    width: auto !important;
    height: auto !important;
    display: block !important;
}

.skin-black .logo {
    background-color: transparent !important;
}

.skin-black .logo:hover {
    background: transparent !important;
}

.skin-black .navbar {
    background-color: transparent;
}

header.header {
    position: relative !important;
    max-height: none !important;

    background-color: #dcdcdc;

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #FFFFFF 60%, #ededed);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #FFFFFF 60%, #ededed);
  /* IE 10 */
  background: -ms-linear-gradient(top, #FFFFFF 60%, #ededed);

  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.logo img {
    max-width: inherit;
}

label.remove {
	display: none;
}

body.fixed .navbar {
    position: relative;
}

body > .header .navbar {
    height: auto !important;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-btn.sidebar-toggle {
    display: none;
}

.sonata-bc .breadcrumb {
    float: none !important;
}

.row.row-breadcrumb {
    margin-bottom: 0px !important;
    min-height: 50px !important;
}

.col-md-12.breadcrumb {
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.right-side {
    margin-left: 5%;
    margin-right: 5%;
}

body.fixed .wrapper {
    margin-top: 0;
}

div.wrapper.row-offcanvas.row-offcanvas-left {
    min-height: initial !important;
    padding-bottom: 35px !important;
}

.page-footer {
    position: fixed;
    bottom:0;
    width: 100%;
    color: whiteSmoke;
    height: 29px;
    line-height: 29px;
    text-align: right;
    padding: 0 40px 0 30px;
    font-weight:bold;
    z-index: 800;

    background-color: #9BDDFF;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#9BDDFF), to(#062A78));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #9BDDFF, #062A78);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #9BDDFF, #062A78);
    /* IE 10 */
    background: -ms-linear-gradient(left, #9BDDFF, #062A78);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #9BDDFF, #062A78);
}

.page-footer .dtic-footer {
    margin-right: 7px;
    height: 17px;
}

.navbar-toggle {
    float: left;
}

.navbar-toggle .icon-bar {
    background: #3c8dbc;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

h1.establecimiento,
h2.establecimiento,
h3.establecimiento,
h4.establecimiento,
h5.establecimiento,
h6.establecimiento {
    text-align: center;
    font-size: x-large;
}

.logo img#img-small {
	display: none !important;
    margin-left: auto;
    margin-right: auto;
}

div[class^="select2-"][class*="col-lg-"], div[class^="select2-"][class*="col-md-"], div[class^="select2-"][class*="col-sm-"], div[class^="select2-"][class*="col-xs-"] {
    padding: 0 !important;
}

.select2-offscreen, .select2-offscreen:focus {
    left: 50% !important;
    top: auto !important;
}

.select2-wrapper {
    display: inline-block;
    position: relative;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* CSS que da estilo a los checkbox */
.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #428bca; border-radius: 4px;
    margin-bottom: 0px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: attr(data-switch-on-label);
    padding-left: 6px;
    background-color: #FFFFFF;
    color: #428BCA;
}

.onoffswitch-inner:after {
    content: attr(data-switch-off-label);
    padding-right: 6px;
    background-color: #428BCA;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 10px; margin: 5px;
    background: #FFFFFF;
    border: 1px solid #428BCA; border-radius: 2px;
    position: absolute; top: 0; bottom: 0; right: 26px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.inverted .onoffswitch-inner:before, .inverted .onoffswitch-inner:after {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}

.inverted .onoffswitch-label {
    border: 1px solid #FFFFFF;
}

.inverted .onoffswitch-inner:before {
    background-color: #FFFFFF;
    color: #428BCA;
}

.inverted .onoffswitch-inner:after {
    background-color: #428BCA;
    color: #FFFFFF;
}

.inverted .onoffswitch-switch {
    background: #ffffff;
    border: 1px solid #428BCA;
}

.onoffswitch > input[disabled] ~ .onoffswitch-label, .onoffswitch > input[disabled] ~ .onoffswitch-label .onoffswitch-switch {
    border: 1px solid #CCCCCC;
}

.onoffswitch > input[disabled] ~ .onoffswitch-label .onoffswitch-inner:before {
    color: #C7C7C7;
}

.onoffswitch > input[disabled] ~ .onoffswitch-label .onoffswitch-inner:after {
    background-color: #D8D8D8;
}
/* fin css que da estilo a los checkbox */

.form-actions.stuck {
    bottom: 33px;
}

.float-inherit {
    float: inherit !important;
}

.float-initial {
    float: initial !important;
}

.float-none {
    float: none !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

@media (max-width:979px) { .logo img#img-large {display: none;} .logo img#img-small {display: block !important;} }
